/*----------Base----------*/
body{
    width: 95vw;
    max-width: 1400px;
    margin: auto;
}
h1, h2, h3, h4, p, a{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #000000;
}
h1,h2{
    font-size: 1.4em;
    margin-bottom: 0.5rem;
}
h3, .link{
    font-size: 1em;
}
h4{
    font-size: 1.1em;
}
p{
    font-weight: 400;
}
a{
    text-decoration: none;
}
.fa-solid{
    color: #0065FC;
}
/*----------Header----------*/
#header-identity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
#logo{
    width: 61px;
    margin-top: 2px;
}
#main-menu{
    display: flex;
    flex-direction: row;
}
.link{
    width: 162px;
    border-top: 2px solid #fff;
    font-weight: 400;
    text-align: center;
    padding: 2.63rem 0;
}
.link:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
#header-message{
    display: flex;
    flex-direction: column;
}
#h1-complementary{
    margin-bottom: 1.25rem;
}
#header-message{
    margin-bottom: 2.5rem;
}
#search-bar{
    display: flex;
    width: fit-content;
    height: 49px;
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    border-radius: 15px;
    background-color: #F2F2F2;
}
.fa-location-dot{
    color: #000000;
    width: 50px;
    align-self: center;
}
#search-field{
    width: 260px;
    border: 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 14px 17px;
    font-size: 1.1em;
    font-weight: 700;
}
#search-field::placeholder{
    font-size: 0.8em;
}
#search-btn-magnifyer{
    display: none;
}
.search-btn{
    height: 49px;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}
#search-text{
    font-size: 1.1em;
    font-weight: 700;
    line-height: 21px;
    color: #fff;
    padding: 13px 14px;
}
.search-btn:hover{
    cursor: pointer;
}
#filter-bar{
    width: 80%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
#filter-text{
    margin-right: 3rem;
}
#filter-btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}
.filter-btn{
    width: fit-content;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    white-space: nowrap;
}
.filter-btn:hover{
    background-color: #DEEBFF;
}
.filter-btn-text{
    font-size: 1.1em;
    font-weight: 700;
    line-height: 20px;
    margin-left: 10px;
}
.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog, .fa-info{
    display: inline-block;
    align-self: center;
    text-align: center;
}
.fa-money-bill-wave, .fa-dog{
    font-size: 20px;
}
.fa-person, .fa-heart{
    font-size: 22px;
}
#info-message{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}
#info-icon{
    display: flex;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 100px;
}
.fa-info{
    font-size: 10px;
}
#info-text{
    font-size: 1em;
    margin-left: 11px;
}
/*----------Main----------*/
#offers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 3.5rem;
}
.offers-all{
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
#offers-main{
    width: 67%;
}
#h2-main{
    margin: 2rem;
    margin-bottom: 0;
}
.show-more{
    margin: 2rem;
    margin-top: 0;
}
#offers-main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 2rem;
    gap: 2rem 0;
}
.card{
    width: 18vw;
    max-width: 250px;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}
.card-img{
    height: 114px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.card-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.1em 1rem 0.7rem 1rem;
}
.card-descrition{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
}
h3, .card-text{
    margin-bottom: 0.6rem;
}
.star-rating{
    display: flex;
    flex-direction: row;
    gap: 0.1rem;
}
.fa-star{
    font-size: 12px;
    color: #F2F2F2;
}
.checked{
    color: #0065FC;
}
/*----------Aside----------*/
#offers-sponsored{
    width: 30%;
}
#text-sponsored{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    margin-bottom: 0;
}
#h2-sponsored{
    margin: 0;
}
.fa-chart-line{
    font-size: 18px;
}
#offers-sponsored-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 2rem;
}
.card-sponsored{
    width: 23vw;
    max-width: 340px;
    height: 145px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}
.card-sponsored-img{
    width: 8vw;
    max-width: 127px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}
.card-sponsored-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}
.h3-sponsored{
    margin-bottom: 0.5rem;
}
